:root {
  --blue: #3873E8;
  --white: #ffffff;
  --grey: #646464;
  --black: #000000;
}

* {
  font-family: "Roboto", sans-serif;
}

/* Header  */
.header {
  height: 100px;
  background-color: var(--blue);
  align-items: center;
  display: flex;
}


.header_text {
  padding-left: 30px;
  color: var(--white);
  font-size: 36px;
  margin: auto 0;
  display: block;
}

@media only screen and (max-width: 767px) {
  .header {
    justify-content: center;
  }

  .header_text {
    padding: 0 20px;
  }
}

/* Books */
.books_container {
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 30px;
  margin-bottom: 50px;
}



@media only screen and (max-width: 767px) {
  .books_container {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .books_container {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 30px;
  }

  .books_container img {
    width: 160px;
    height: auto;
  }
}


.book_link {
  text-decoration: none;
}

.book_wrapper {
  text-align: center;
}

.book_wrapper:hover {
  background-color: #a3b5ff8b;
}

.book_link .label {
  color: var(--blue);
}

.book_link .book_title {
  color: var(--black);
}

.book_link .book_authors {
  font-size: 14px;
}

.book_link .authors {
  color: var(--black);
}

/* Search Form */
.form_container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.form_container form input {
  width: 70%;
  height: 50px;
  border-radius: 15px;
  margin-right: 15px;
  border: 2px solid var(--grey);
  text-align: center;
  font-style: italic;
}

.form_container form button {
  width: 30%;
  border-radius: 15px;
  background-color: var(--white);
  color: var(--grey);
  font-size: 24px;
  border: 2px solid var(--grey);
}

.form_container form button:hover, .form_container form input:hover {
  color: var(--blue);
  border: 2px solid var(--blue);
}

@media only screen and (max-width: 767px) {
  .form_container form {
    height: 100px;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
  } 

  .form_container form button {
    font-size: 16px;
    padding: 5px;
  }
}

.form_container form {
  margin: 0 auto;
  max-width: 584px;
  width: -webkit-fill-available;
  display: flex;

}

/* Book Details */
.book_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px 50px;
  color: var(--grey);
  column-gap: 25px;
}


.backButton {
  margin: 20px 0 20px 30px;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--grey);
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  border: 2px solid var(--grey);
  display: inline-block;
}

.previewLink {
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid var(--blue);
  display: inline-block;
}

.previewLink a {
  text-decoration: none;
  color: var(--blue);
}

.book_left_col {
  width: 40%;
}

.book_right_col {
  width: 60%;
}

.large_thumbnail {
  width: 100%;
  height: auto;
  min-width: 200px;
}

.label {
  font-weight: 600;
}

.description {
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .book_container {
    flex-direction: column;
    margin: 0 30px 50px;
  }

  .book_left_col, .book_right_col {
    width: 100%;
  }

  .backButton {
    margin: 30px auto;
    display: block;
  }

  .large_thumbnail {
    min-width: 100px;
  }
  
}

/* Footer */

footer {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 5px;
}

footer a {
  color: var(--white);
  text-decoration: none;
}